<a href="https://colab.research.google.com/github/Vishakha-NITJ/SQL/blob/main/Leetcode%20SQL%2050/Select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

def run_query(conn, query):
    cursor = conn.cursor()
    cursor.execute(query)
    return cursor.fetchall()


# Create in-memory DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

def execute_query(conn, query):
    df = pd.read_sql_query(query, conn)
    print(df.to_markdown(index=False, tablefmt="github"))

In [2]:
# Create table
cursor.execute("""
CREATE TABLE Products (
    product_id INTEGER PRIMARY KEY,
    low_fats TEXT CHECK (low_fats IN ('Y', 'N')),
    recyclable TEXT CHECK (recyclable IN ('Y', 'N'))
);
""")

# Insert data
cursor.executemany("""
INSERT INTO Products VALUES (?, ?, ?);
""", [
    (0, 'Y', 'N'),
    (1, 'Y', 'Y'),
    (2, 'N', 'Y'),
    (3, 'Y', 'Y'),
    (4, 'N', 'N')
])

##  ðŸŸ¢ 1757. Recyclable and Low Fat Products
### Table: Products

| Column Name | Type |
|------------|------|
| product_id | int  |
| low_fats   | enum |
| recyclable | enum |

- product_id is the primary key (column with unique values) for this table.  
- low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.  
- recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

---

### Example 1:

**Input:**  
**Products Table**

| product_id | low_fats | recyclable |
|------------|----------|------------|
| 0 | Y | N |
| 1 | Y | Y |
| 2 | N | Y |
| 3 | Y | Y |
| 4 | N | N |

---

**Output:**
| product_id |
|------------|
| 1 |
| 3 |

**Explanation:**  
Only products 1 and 3 are both low fat and recyclable.

In [3]:
query = """
SELECT product_id
FROM Products
WHERE low_fats = 'Y'
  AND recyclable = 'Y';
"""

execute_query(conn, query)

|   product_id |
|--------------|
|            1 |
|            3 |

In [4]:
# Create table
cursor.execute("""
CREATE TABLE Customer (
    id INTEGER PRIMARY KEY,
    name TEXT,
    referee_id INTEGER
);
""")

# Insert data
cursor.executemany("""
INSERT INTO Customer VALUES (?, ?, ?);
""", [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
])

## ðŸŸ¢ 584. Find Customer Referee

### Table: Customer

| Column Name | Type    |
|------------|---------|
| id         | int     |
| name       | varchar |
| referee_id | int     |

- id is the primary key (column with unique values) for this table.  
- Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.  
- referee_id can be NULL, which means the customer was not referred by anyone.

Write a solution to find the names of customers who are either:
- not referred by customer with id = 2, or  
- not referred by any customer.

Return the result table in any order.

The result format is in the following example.

---

### Example 1:

**Input:**  
**Customer Table**

| id | name | referee_id |
|----|------|------------|
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

---

**Output:**

| name |
|------|
| Will |
| Jane |
| Bill |
| Zack |

**Explanation:**  
Customers **Will**, **Jane**, and **Bill** were not referred by anyone, and **Zack** was referred by customer with id â‰  2.

In [5]:
query = """
SELECT name
FROM Customer
WHERE referee_id != 2
  OR referee_id IS NULL;
"""

execute_query(conn, query)

| name   |
|--------|
| Will   |
| Jane   |
| Bill   |
| Zack   |