<a href="https://colab.research.google.com/github/Vishakha-NITJ/SQL/blob/main/Leetcode%20SQL%2050/Select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3
import pandas as pd

def run_query(conn, query):
    cursor = conn.cursor()
    cursor.execute(query)
    return cursor.fetchall()


# Create in-memory DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

def execute_query(conn, query):
    df = pd.read_sql_query(query, conn)
    print(df.to_markdown(index=False, tablefmt="github"))

## 1757. Recyclable and Low Fat Products
### Table: Products

| Column Name | Type |
|------------|------|
| product_id | int  |
| low_fats   | enum |
| recyclable | enum |

- product_id is the primary key (column with unique values) for this table.  
- low_fats is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.  
- recyclable is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

---

### Example 1:

**Input:**  
**Products Table**

| product_id | low_fats | recyclable |
|------------|----------|------------|
| 0 | Y | N |
| 1 | Y | Y |
| 2 | N | Y |
| 3 | Y | Y |
| 4 | N | N |

---

**Output:**
| product_id |
|------------|
| 1 |
| 3 |

**Explanation:**  
Only products 1 and 3 are both low fat and recyclable.

In [5]:
# Create table
cursor.execute("""
CREATE TABLE Products (
    product_id INTEGER PRIMARY KEY,
    low_fats TEXT CHECK (low_fats IN ('Y', 'N')),
    recyclable TEXT CHECK (recyclable IN ('Y', 'N'))
);
""")

# Insert data
cursor.executemany("""
INSERT INTO Products VALUES (?, ?, ?);
""", [
    (0, 'Y', 'N'),
    (1, 'Y', 'Y'),
    (2, 'N', 'Y'),
    (3, 'Y', 'Y'),
    (4, 'N', 'N')
])

In [8]:
query = """
SELECT product_id
FROM Products
WHERE low_fats = 'Y'
  AND recyclable = 'Y';
"""

execute_query(conn, query)

|   product_id |
|--------------|
|            1 |
|            3 |